
<div class="large-12">
    <div class="panel home-main-search">
        <h2 class="text-center">Find great reviews</h2>
        <form>
            <div class="large-8 large-centered columns">
                <div class="row collapse">
                    
                        <div class="large-10 columns">
                          <input type="text" placeholder="Search by keyword">
                        </div>
                        <div class="large-2 columns">
                          <button class="button postfix">Search</button>
                        </div>
                    
                </div>
            </div>
        </form>
    </div>
</div>



<div class="row" data-equalizer>
    <% @subCategories.each do |sub| %>
        <div class="large-4 medium-6 small-12 columns rev-box">
            <div class="panel" data-equalizer-watch>
                <img class="responsive" src="<%= sub.image %>">
                <div class="callout">
                    <h3><%= sub.title %></h3>
                    <p> <%= sub.description %> </p>
                    <a href="/<%= sub.category.slug %>/<%= sub.slug %>" class="small radius button">Read all reviews</a>          
                </div>
            </div>
        </div>
    <% end %>
</div> 




<div class="row">
    <div class="large-12 text-center featured" data-equalizer>
        <h2>Featured Product Reviews</h2>
        <% @featuredReviews.each do |freview| %>
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="<%= freview.image %>">
                    <div class="callout">
                        <h3><a href="<%= freview.slug %>"> <%= freview.title %> </a></h3>
                        <h4 class="score">Score: <%= freview.score %></h4>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="row">

    <div class="large-9 medium-9 small-12 columns top-revs-list text-center">
        <div class="panel">
            <div class="row" data-equalizer>
                <h2>Top Products</h2>
                
                <div class="large-4 medium-4 small-12 columns revs">
                    <div class="panel" data-equalizer-watch>
                        
                        <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                        <h3>SEO Tool Reviews</h3>
                        
                    </div>
                </div>
                
                <div class="large-4 medium-4 small-12 columns revs">
                    <div class="panel" data-equalizer-watch>
                        
                        <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                        <h3>SEO Tool Reviews</h3>
                        
                    </div>
                </div>
                
                <div class="large-4 medium-4 small-12 columns revs">
                    <div class="panel" data-equalizer-watch>
                        
                        <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                        <h3>VPS Reviews</h3>
                        
                    </div>
                </div>
                
                <div class="large-4 medium-4 small-12 columns revs">
                    <div class="panel" data-equalizer-watch>
                        
                        <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                        <h3>SEO Tool Reviews</h3>
                        
                    </div>
                </div>
                
                <div class="large-4 medium-4 small-12 columns revs">
                    <div class="panel" data-equalizer-watch>
                        
                        <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                        <h3>SEO Tool Reviews</h3>
                        
                    </div>
                </div>
                
                <div class="large-4 medium-4 small-12 columns revs">
                    <div class="panel" data-equalizer-watch>
                        
                        <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                        <h3>SEO Tool Reviews</h3>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    
    <!-- Latest Reviews -->
    
    <div class="large-3 medium-3 small-12 columns top-revs-list">
        <div class="panel">
            <div class="row">
                <h3>Latest Reviews</h3>
                
                <div class="large-12 medium-4 small-12 columns revs">
                    
                        <p>SEO Tool Reviews</p>
                    
                </div>
                
                <div class="large-12 medium-4 small-12 columns revs">
                    
                        <p>SEO Tool Reviews</p>
                    
                </div>
                
                <div class="large-12 medium-4 small-12 columns revs">
                    
                        <p>SEO Tool Reviews</p>
                   
                </div>
                
                <div class="large-12 medium-4 small-12 columns revs">
                    
                        <p>SEO Tool Reviews</p>
                    
                </div>
                
                <div class="large-12 medium-4 small-12 columns revs">
                    
                        <p>SEO Tool Reviews</p>
                    
                </div>
                
                <div class="large-12 medium-4 small-12 columns revs">
                    
                        <p>SEO Tool Reviews</p>
                   
                </div>
                
            </div>
        </div>
    </div>
    
    
    
    
    
</div>