
<div class="large-12">
    <div class="panel main-search">
        <h2 class="text-center">Find great reviews</h2>
        <form method="get" action="/review/search">
            <div class="large-8 large-centered columns">
                <div class="row collapse">
                    
                        <div class="large-10 columns">
                          <input type="text" name="q" required placeholder="Search by keyword">
                        </div>
                        <div class="large-2 columns">
                          <button class="button postfix">Search</button>
                        </div>
                   
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row" data-equalizer>
    <% @subCategories.each do |sub| %>
        <div class="large-4 medium-6 small-12 columns rev-box">
            <div class="panel text-center" data-equalizer-watch>
                <img class="responsive" src="<%= sub.image %>">
                <div class="callout">
                    <h3><%= sub.title %></h3>
                    <p> <%= sub.description %> </p>
                    <a href="/<%= sub.category.slug %>/<%= sub.slug %>" class="small radius button">Read all reviews</a>          
                </div>
            </div>
        </div>
    <% end %>
</div> 

<div class="row">
    <div class="large-12 text-center featured" data-equalizer>
        <h2>Featured Product Reviews</h2>
        <% @featuredReviews.each do |freview| %>
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="<%= freview.image %>">
                    <div class="callout">
                        <h3><a href="<%= freview.slug %>"> <%= freview.title %> </a></h3>
                        <h4 class="score"><%= freview.score %></h4>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="row">

    <div class="large-9 medium-9 small-12 columns top-revs-list text-center">
        <div class="panel">
            <div class="row" data-equalizer>
                <h2>Top Products</h2>
                <% @topProducts.each do |topProduct| %>
                
                    <div class="large-4 medium-4 small-12 columns revs">
                        <div class="panel" data-equalizer-watch>
                            
                            <img class="responsive" src="<%= topProduct.image %>">
                            <h3><a href="/<%= topProduct.slug %>"> <%= topProduct.title %> </a></h3>
                            
                        </div>
                    </div>
                <% end %>
                
            </div>
        </div>
    </div>
    
    
    <!-- Latest Reviews -->
    
    <div class="large-3 medium-3 small-12 columns top-revs-list">
        <div class="panel">
            <div class="row">
                <h3 class="heading text-center">Latest Reviews</h3>
                <% @latestReviews.each do |lReview| %>
                    <div class="large-12 medium-4 small-12 columns latest-reviews">
                        <div class="large-3 columns score"><%= lReview.score %></div>
                        <div class="large-9 columns title"><a href="/<%= lReview.slug %>"> <%= lReview.title %> </a></div>
                    </div>
                <% end %>
                
            </div>
        </div>
    </div>
    
    
    
    
    
</div>
