<div class="row review-details" itemscope itemtype="http://schema.org/Product">
    <div class="large-12 columns">
        <ul class="breadcrumbs">
          <li><a href="/">Home</a></li>
          <li><a href="/category/<%= @review.category.slug %>"><%= @review.category.title %></a></li>
          <li><a href="/<%= @review.category.slug %>/<%= @review.sub_category.slug %>"><%= @review.sub_category.title %></a></li>
        </ul>
    </div>
    <div class="large-8 columns left">
        <div class="panel">
            <h2 class="title" itemprop="name"><%= @review.title %></h2>
            <p itemprop="description">
               <%= @review.short_description.html_safe %>
            </p>
            <div class="text-center">
                <a href="/go/offer/<%= @review.id %>" class="button" target="_blank">Visit Site</a>
            </div>
            
            <p>
                <%= @review.first_paragraph.html_safe %>
            </p>
            
            <p>
                <%= @review.second_paragraph.html_safe %>
            </p>
            
            <p>
                <%= @review.third_paragraph.html_safe %>
            </p>
            <div class="text-center">
                <a href="/go/offer/<%= @review.id %>" class="button" target="_blank">Visit Site</a>
            </div>
            
        </div>
    </div>
    <div class="large-4 columns right">
        <div class="panel info">
            <div class="large-6 large-centered columns">
                <a href="/go/offer/<%= @review.id %>" target="_blank">
                    <img src="<%= @review.image %>" class="responsive" alt="<%= @review.title %>">
                </a>
            </div>
            <h5 class="text-center">Price</h5>
            <h2 class="text-center price"> <span itemprop="priceCurrency" content="USD">$</span><span itemprop="price" content="<%= @review.lowest_price %>"><%= @review.lowest_price %></span></h2>
            
            <div class="all-ratings" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <h4 class="heading">Ratings</h4>
                
                <meta itemprop="worstRating" content="1">
                <div class="rating">Score: <span itemprop="ratingValue"><%= @review.score %></span> / <span itemprop="bestRating">10</span></div>
                <div class="progress small-12 large-12 alert">
                  <span class="meter" style="width: <%= @review.score * 10 %>%"></span>
                </div>
                
                <div class="rating">Price: <%= @review.price %> / 10</div>
                <div class="progress small-12 large-12 alert">
                  <span class="meter" style="width: <%= @review.price * 10 %>%"></span>
                </div>
                
                <div class="rating">Feature: <%= @review.features %> / 10</div>
                <div class="progress small-12 large-12 alert">
                  <span class="meter" style="width: <%= @review.features * 10 %>%"></span>
                </div>
                
                <div class="rating">Support: <%= @review.support %> / 10</div>
                <div class="progress small-12 large-12 alert">
                  <span class="meter" style="width: <%= @review.support * 10 %>%"></span>
                </div>
            </div>
            
            <a href="/go/offer/<%= @review.id %>" target="_blank" class="button expand">Visit Site</a>
        </div>
    </div>
</div>

<div class="row recommended">
    <div class="large-12 text-center" data-equalizer>
        <h2 class="title">Recommended Reviews</h2>
       
        <% @recommendedReviews.each do |rReview| %> 
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="<%= rReview.image %>" alt="<%= rReview.title %>">
                    <div class="callout">
                        <h3><a href="/<%= rReview.slug %>"> <%= rReview.title %> </a></h3>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
