<div class="row review-details">
    
        <div class="large-8 columns">
            <div class="panel">
                <h2 class="title"><%= @review.title %></h2>
                <p>
                   <%= @review.short_description %>
                </p>
                <div class="panel text-center">
                    <a href="/go/offer/<%= @review.id %>" class="button" target="_blank">Visit Site</a>
                </div>
                
                <p>
                    <%= @review.first_paragraph %>
                </p>
                <div class="panel text-center">
                    <a href="/go/offer/<%= @review.id %>" class="button" target="_blank">Visit Site</a>
                </div>
                
                <p>
                    <%= @review.second_paragraph %>
                </p>
                <div class="panel text-center">
                    <a href="/go/offer/<%= @review.id %>" class="button" target="_blank">Visit Site</a>
                </div>
                
                <p>
                    <%= @review.third_paragraph %>
                </p>
                <div class="panel text-center">
                    <a href="/go/offer/<%= @review.id %>" class="button" target="_blank">Visit Site</a>
                </div>
                
            </div>
        </div>
        <div class="large-4 columns">
            <div class="panel">
                
                <h3>Ratings</h3>
                
                 Our rating: 8.4 / 10
                 <div class="progress small-12 large-12 alert round">
                  <span class="meter" style="width: 84%"></span>
                </div>
                
                 Price: 6.0 / 10
                 <div class="progress small-12 large-12 alert round">
                  <span class="meter" style="width: 60%"></span>
                </div>
                
                 Support: 7.5 / 10
                 <div class="progress small-12 large-12 alert round">
                  <span class="meter" style="width: 75%"></span>
                </div>
                
                <a href="#" class="button expand">Visit Site</a>
            </div>
        </div>
</div>

<div class="row recommended">
    <div class="large-12 text-center" data-equalizer>
            <h2 class="title">Recommended Reviews</h2>
            
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                    <div class="callout">
                        <h3>SEO Tool Reviews</h3>
                    </div>
                </div>
            </div>
            
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                    <div class="callout">
                        <h3>SEO Tool Reviews</h3>       
                    </div>
                </div>
            </div>
            
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                    <div class="callout">
                        <h3>SEO Tool Reviews</h3>        
                    </div>
                </div>
            </div>
            
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                    <div class="callout">
                        <h3>VPS Reviews</h3>
                        
                    </div>
                </div>
            </div>
            
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                    <div class="callout">
                        <h3>SEO Tool Reviews</h3>        
                    </div>
                </div>
            </div>
            
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                    <div class="callout">
                        <h3>VPN Reviews</h3>        
                    </div>
                </div>
            </div>
            
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                    <div class="callout">
                        <h3>SEO Tool Reviews</h3>        
                    </div>
                </div>
            </div>
            
            <div class="large-3 medium-6 small-12 columns rev-box">
                <div class="panel" data-equalizer-watch>
                    <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                    <div class="callout">
                        <h3>SEO Tool Reviews</h3>        
                    </div>
                </div>
            </div>
    </div>
</div>
