<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<table width="100%">
  <thead>
    <tr>
      <th>Cat</th>
      <th>Sub Cat</th>
      <th>Title</th>
      
      <th>Rating  </th>
      <th>Std. Price</th>
      
      <th>Url</th>
      <th>Total viewed</th>
      <th>Published</th>
      <th>Featured</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.category.title %></td>
        <td><%= review.sub_category.title %></td>
        <td><%= review.title %></td>
        
        <td>
            <div>Score : <%= review.score %></div>
            <div>Price: <%= review.price %></div>
            <div>Features: <%= review.features %></div>
            <div>Support: <%= review.support %></div>
        </td>
        
        <td><%= review.lowest_price %></td>
        
        <td> <a href="<%= review.url %>" target="_blank">Link</a> </td>
        <td><%= review.total_viewed %></td>
        <td><%= review.is_published %></td>
        <td><%= review.is_featured %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
